<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--加载资源文件-->
    <properties resource="jdbc.properties"/>

    <!--类型别名-->
    <typeAliases>
        <package name="com.wmq.pojo"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <!--<mapper resource="UserMapper.xml"/>-->
        <!--
            配置sql映射文件的位置, 配置注解的位置
            1.sql映射文件的位置必须存放到与接口相同名称的包下
            2.sql映射文件的名称要和接口名称保持一致
        -->
        <package name="com.wmq.dao"></package>
    </mappers>
</configuration>